.nav-tabs {
  border: none;
  .nav-item {
    .nav-link {
      background-color: $medium-blue;
      color: $white;
      border-radius: 0;
      border: none;
      text-transform: uppercase;
      &.active, &:focus, &:hover {
        background-color: $master-blue;
        color: $white;
        border: none;
      }
    }
  }
}