{% for block in entry.article %}
{% switch block.type %}
{% case "text" %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="article-text">
        {{block.text}}
      </div>
    </div>
  </div>
</div>
{% case "fullWidthImage" %}
{% set image = block.image.first() %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <figure class="full-image"><img src="{{image.getUrl()}}" alt="{{image.title}}">
        <figcaption>{{block.caption}} </figcaption>
      </figure>
    </div>
  </div>
</div>
{% case "textWithImage" %}
{% set image = block.image.first() %}
<div class="container">
  <div class="row">
    {% if block.imagePosition == 'left'%}
    <div class="col-md-6">
      <figure class="full-image"><img src="{{image.getUrl()}}" alt="{{image.title}}">
        <figcaption>{{block.imageCaption}} </figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <div class="article-text">
        {{block.text}}
      </div>
    </div>
    {% else %}
    <div class="col-md-6">
      <div class="article-text">
        {{block.text}}
      </div>
    </div>
    <div class="col-md-6">
      <figure class="full-image"><img src="{{image.getUrl()}}" alt="{{image.title}}">
        <figcaption>{{block.imageCaption}} </figcaption>
      </figure>
    </div>
    {% endif %}

  </div>
</div>
{% endswitch %}
{% endfor %}
