<footer id="site-footer">
	<div class="container-fluid">
		<div class="row mobile-narrow">
			<div id="whale-watching" class="col-xs-12 col-md-4 info">
				<img src="{{craft.config.environmentVariables.assetsBaseUrl}}/images/ia_footer.png" />
				<strong>Phone: (360) 293-2428</strong>
				<strong>Toll Free: 1-800-465-4604</strong>
				<strong>Email: whales@islandadventurecruises.com</strong>
				<div class="location">
					<strong>Anacortes</strong>
					<p>Main Office, Gift Shop, and Check In:</p>
					<small>1801 Commercial Avenue, Anacortes, WA 98221</small>
				</div>
				<div class="location">
					<strong>Everett</strong>
					<p>Tours Depart from the Marina Village:</p>
					<small>Tours Depart from the Marina Village:
1726 W. Marine View Drive, Everett, WA 98201</small>
				</div>
				<div class="location">
					<strong>Seattle</strong>
					<p>Tours Depart from the Bell Harbor Marina:</p>
					<small>2201 Alaskan Way, Seattle, WA 98121</small>
				</div>
			</div>
			<div id="port-angeles" class="col-xs-12 col-md-4 info">
				<img src="{{craft.config.environmentVariables.assetsBaseUrl}}/images/port_angeles_footer.png" />
				<strong>Phone: (360) 293-4215</strong>
				<strong>Toll Free: 1-800-465-4604</strong>
				<strong>Email: whales@islandadventurecruises.com</strong>
				<div class="location">
					<strong>Port Angeles</strong>
					<p>Tours Depart from the Landing Mall:</p>
					<small>115 E. Railroad Avenue, Port Angeles, WA 98362</small>
					<small class="block mar-t-20">Look for parking anywhere near the Port Angeles Landing Mall. Paid parking can be found at 150 East Front Street, Port Angeles, WA 98221.</small>
				</div>
			</div>
			<div id="la-conner" class="col-xs-12 col-md-4 info">
				<img src="{{craft.config.environmentVariables.assetsBaseUrl}}/images/la_conner_footer.png" />
				<strong>Phone: (360) 293-242</strong>
				<strong>Toll Free: 1-800-465-4604</strong>
				<strong>Email: whales@islandadventurecruises.com</strong>
				<div class="location">
					<strong>La Conner</strong>
					<p>Tours Depart from the Channel Lodge:</p>
					<small>204 N 1st Street, La Conner, WA 98257</small>
					<small class="block mar-t-20">Look for parking anywhere near the La Conner Channel Lodge. Paid parking can be found at 212 East State Street, La Conner, WA 98257.</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p><strong>Reservations are highly recommended for all departure locations.</strong> We'll gladly take walk-ups if the space is available. Please note that our summer tours fill up quickly, so reservations at least a week in advance are recommended. Feel free to call or book online for your next adventure See you on the water!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<nav>
					<ul class="underline">
						<li><a href="#">Home</a></li>
						<li><a href="#">Tours</a></li>
						<li><a href="#">Vessels</a></li>
						<li><a href="#">Rates and Schedule</a></li>
						<li><a href="#">Online Reservations</a></li>
						<li><a href="#">The Whale Report</a></li>
						<li><a href="#">Our Guarantee</a></li>
						<li><a href="#">Site Map</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="hidden-md-up">
		{% include '_partials/social' %}
	</div>
</footer>
