<header id="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-4 pad-0">
				<img id="site-logo" class="mar-y-16" src="{{craft.config.environmentVariables.assetsBaseUrl}}/images/ia_logo.png" />
			</div>
			<div class="menus col-xs-12 col-md-8 pad-0">
				<nav id="desktop" class="hidden-sm-down">
					<ul>
						<li><a href="#">Prepare for Your Tour</a></li>
						<li><a href="#">Our Guarantee</a></li>
						<li><a href="#">Gift Certificats</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<nav id="mobile" class="hidden-md-up">
					<div id="nav-toggle">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</nav>
				<nav id="lower" class="mar-b-16">
					<ul>
						<li><a href="#">Rates and Schedule</a></li>
						<li><a href="#">Online Reservations</a></li>
						<li><a href="#">Whale Report</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
