<aside id="site-sidebar" class="hidden-sm-down">
	<section id="whale-watch">
		<div class="section-title">
			<h2>Whale Watch Tours</h2>
		</div>
		<div class="sub-section">
			<strong class="block">Anacortes</strong>
			<small class="block">
				4-5 Hour Tours<br>
				April - October
			</small>
		</div>
		<div class="sub-section">
			<strong class="block">La Conner</strong>
			<small class="block">
				Full Day Tours<br>
				April - September
			</small>
		</div>
		<div class="sub-section">
			<strong class="block">Port Angeles</strong>
			<small class="block">
				4-5 Hour Tours<br>
				May - November
			</small>
		</div>
		<div class="sub-section">
			<strong class="block">Everett</strong>
			<small class="block">
				3 Hour Tours<br>
				April - October
			</small>
		</div>
		<div class="sub-section">
			<strong class="block">Seattle</strong>
			<small class="block">
				4-5 Hour Tours<br>
				November - March
			</small>
		</div>
	</section>
	<section id="specialty">
		<div class="section-title">
			<h2>Specialty Tours</h2>
		</div>
		<div class="sub-section">
			<strong class="block">La Conner</strong>
			<small class="block">
				2.5 Hour Evening Deception Pass Tours<br>
				April - September
			</small>
		</div>
		<div class="sub-section">
			<strong class="block">Private Charters</strong>
			<small class="block">
				Available year round from all departure locations
			</small>
		</div>
	</section>
	<section id="vessels">
		<div class="section-title">
			<h2>Our Vessels</h2>
		</div>
		<div class="sub-section">
			<strong class="block">Island Explorer 5</strong>
			<small class="block">
				New for the 2016 season!
			</small>
		</div>
		<div class="sub-section">
			<strong class="block">Island Explorer 3</strong>
		</div>
		<div class="sub-section">
			<strong class="block">Island Explorer 4</strong>
		</div>
	</section>
	<section id="wildlife">
		<div class="section-title">
			<h2>Whales and Wildlife</h2>
		</div>
		<div class="sub-section">
			<a class="block">Resident Orcas</a>
		</div>
		<div class="sub-section">
			<a class="block">Transient Orcas</a>
		</div>
		<div class="sub-section">
			<a class="block">Humpback Whales</a>
		</div>
		<div class="sub-section">
			<a class="block">Minke Whales</a>
		</div>
		<div class="sub-section">
			<a class="block">Gray Whales</a>
		</div>
		<div class="sub-section">
			<a class="block">Pacific Northwest Wildlife</a>
		</div>
		<div class="sub-section">
			<a class="block">World-class Scenery</a>
		</div>
	</section>
	<section id="guarantees">
		<div class="section-title">
			<h2>Our Guarantees</h2>
		</div>
		<div class="sub-section">
			<a class="block">Everyday Guarantee</a>
		</div>
		<div class="sub-section">
			<a class="block">Orca Guarantee</a>
		</div>
		<div class="sub-section">
			<a class="block">Money-back Orca Guarantee</a>
		</div>
	</section>
	<section id="details">
		<div class="section-title">
			<h2>Details and Information</h2>
		</div>
		<div class="sub-section">
			<a class="block">Our Vessels</a>
		</div>
		<div class="sub-section">
			<a class="block">Whale Location
from Space</a>
		</div>
		<div class="sub-section">
			<a class="block">Whale Watching Etiquette</a>
		</div>
		<div class="sub-section">
			<a class="block">Benefits of Our Location</a>
		</div>
		<div class="sub-section">
			<a class="block">Truth About Aerial Spotting</a>
		</div>
		<div class="sub-section">
			<a class="block">Photo Sales</a>
		</div>
		<div class="sub-section">
			<a class="block">Testimonials</a>
		</div>
	</section>
	{% include '_partials/social' %}
</aside>
